In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [18]:
df = pd.read_csv('../data/WHO-COVID-19-global-data.csv')
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-05,AF,Afghanistan,EMRO,NaN,0,NaN,0
1,2020-01-12,AF,Afghanistan,EMRO,NaN,0,NaN,0
2,2020-01-19,AF,Afghanistan,EMRO,NaN,0,NaN,0
3,2020-01-26,AF,Afghanistan,EMRO,NaN,0,NaN,0
4,2020-02-02,AF,Afghanistan,EMRO,NaN,0,NaN,0

In [19]:
df.info()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67680 entries, 0 to 67679
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      67680 non-null  object
 1   Country_code       67398 non-null  object
 2   Country            67680 non-null  object
 3   WHO_region         62604 non-null  object
 4   New_cases          47219 non-null  float64
 5   Cumulative_cases   67680 non-null  int64
 6   New_deaths         35026 non-null  float64
 7   Cumulative_deaths  67680 non-null  int64
dtypes: float64(2), int64(2), object(4)
memory usage: 4.1+ MB

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [20]:
df['Date_reported'] = pd.to_datetime(df['Date_reported'])
df.drop_duplicates(inplace=True)
df.isnull().sum()

Date_reported            0
Country_code           282
Country                  0
WHO_region            5076
New_cases            20461
Cumulative_cases         0
New_deaths           32654
Cumulative_deaths        0
dtype: int64

In [21]:
df['New_cases'] = df['New_cases'].fillna(0)
df['New_deaths'] = df['New_deaths'].fillna(0)

In [22]:
df = df.drop(columns=['Country_code'])
df = df.dropna(subset=['WHO_region'])

In [23]:
df.isnull().sum()

Date_reported        0
Country              0
WHO_region           0
New_cases            0
Cumulative_cases     0
New_deaths           0
Cumulative_deaths    0
dtype: int64

In [25]:
df.to_csv('../Data/WHO_COVID19_cleaned.csv', index=False)
print('Cleaned data saved successfully')

Cleaned data saved successfully